@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Red+Hat+Display&family=Red+Hat+Mono&family=Red+Hat+Text&display=swap');
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#cabecalho
{

}
#menu-cima
{
    margin: 10px;
    border: #8b8b8b 1px solid;
    border-radius: 4px;
}
#menu-cima ul
{
    list-style: none;
    text-align: right;
    padding: 20px;
}

#menu-cima ul li
{
    display: inline-block;
    margin: 0 25px;
    color: #004a8c;
    font-weight: 600;
}

#menu-cima ul li a
{
    color: #004a8c;
    font-weight: 600;
}

#menu-cima ul li a:hover
{
    color: #ff9057;
}

#logo
{
    text-align: center;   
    margin: 20px;
}

#logo img
{
    width: 150px;
}

#menu-principal ul
{
    background: #004a8c;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#menu-principal ul li
{
    display: inline-block; 
    align-items: center;
    margin: 10px 15px;
}

#menu-principal ul li a
{
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
    padding: 20px;
    border-radius: 2px;

}

#menu-principal ul li a:hover
{
    color: #004a8c;
    background: #fff;
    
    

}